.teams-main-container {
    margin: 0 100px 0 100px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    
  }
  
  @media only screen and (max-width: 600px) {
    .teams-main-container {
      flex-wrap: wrap;
    }
  }
  
  .teams-main-container > * {
    flex: 1;
    max-width: 25%;
  }
  

  .teams-header-wrapper{  
    margin: 40px 100px 40px 100px;
  }

  