.product-container{
    margin: 100px;
}

.product-ul ul{
    display: flex;
    justify-content: center;
    gap: 5px;
    list-style: none;
}

.product-ul li button{
    border: none;
    background-color: #fff;
    
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 30px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    
}

.product-ul li button:hover{
    background: #ffbb38;
    color: #343a40;
    cursor: pointer;
}

.product-ul .orange-bg {
    background-color: #ffbb38;
  }
  